// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";

.Background-Page{
  background-color: #3A5F8F;
}

.card-background-page {
  
    ion-card {
      position: relative;
      text-align: center;
    }
  
    .card-title {
      position: absolute;
      top: 37%;
      font-size: 2.0em;
      width: 100%;
      font-weight: bold;
      color: black;
    }
  
    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      top: 47%;
      width: 100%;
      color: black;
    }
  }

  .card-background-page2 {
    
      ion-card {
        position: relative;
        text-align: center;
      }
    
      .card-title {
        position: absolute;
        top: 17%;
        font-size: 2.0em;
        width: 100%;
        font-weight: bold;
        color: wheat;
      }
    
      .card-subtitle {
        font-size: 1.0em;
        position: absolute;
        top: 21%;
        width: 100%;
        color: wheat;
      } 
    }

    page-artist-display {
      
          $slide-header-color: #f73e53;
          $slide-content-color: #1c1c1c;
          $background-grid-color: #494949;
      
          .bar-buttons,
          .toolbar-title, button {
              color: #fff !important;
          }
      
          .toolbar-background {
              background: transparentize(black,0.8) !important;
          }
      
          .scroll-content {
              background: $background-grid-color;
          }
      
          ion-card {
              margin: 0 auto !important;
              max-width: 500px;
              background: #494949 !important;
              box-shadow: 0 6px 8px rgba(0, 0, 0, 0.8) !important;
          }
      
          .slider-header {
              position: relative;
              height: 30vh;
      
              .header-text {
                  position: absolute;
                  z-index: 2;
                  top: 40px;
                  left: 15px;
              }
      
              .header-text h1 {
                  font-weight: bold;
              }
      
              .header-text p {
                  padding-left: 2rem;
                  font-weight: bold;
                  color: white;
                  text-shadow: 2px 2px 3px #000000;
              }
      
              .background {
                  height: 30vh;
                  position: relative;
                  clip-path: polygon(0 0, 100% 0, 100% 170px, 0 115%);
                  img {
                      max-width: 34rem;
                      position: absolute;
                      right: -90px;
                      bottom: 0;
                  }
              }
      
              button {
                  position: absolute;
                  bottom: -30px;
                  margin: 0 auto;
                  left: 0;
                  right: 0;
                  background: $slide-content-color;
                  border: 6px solid $background-grid-color;
                  z-index: 2;
                  ion-icon {
                      font-size: 2.8rem;
                  }
                  &.activated {
                      background: $slide-content-color;
                  }
                  &.activated ion-icon{
                      transition: .1s linear;
                      color: $slide-header-color;
                  }
              }
          }
      
          .slider-content {
              padding-top: 40px !important;
              background: $slide-content-color;
              clip-path: polygon(0 24px, 100% -20px, 100% 100%, 0 101%);
              min-height: 50vh;
      
              h2, h5, small, p {
                  color: white;
              }
      
              button {
                  background-color: $slide-header-color;
              }
          }
      }

      page-quotes {

        $background-grid-color: #494949;
    
        .bar-buttons,
        .toolbar-title, button {
            color: #fff !important;
        }
    
        .toolbar-background {
            background: transparentize(black,0.8) !important;
        }
    
        .scroll-content {
            background: $background-grid-color;
        }

        .toolbar-background {
            background: transparentize(black,0.8) !important;
        }
        
        @import url(https://fonts.googleapis.com/css?family=Oswald);
        @import url(https://fonts.googleapis.com/css?family=Lato);
        @import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
        .quotePage {
          font-family: 'Lato', Arial, sans-serif;
          overflow: hidden;
          position: relative;
          display: inline-block;
          margin: 8px;
          min-width: 250px;
          max-width: 310px;
          width: 100%;
          background-color: #000000;
          color: #ffffff;
          text-align: center;
          font-size: 16px;
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
        }
        
        .quotePage * {
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
        }
        
        .quotePage img {
          max-width: 100%;
          vertical-align: top;
          opacity: 0.7;
        }
        
        .quotePage figcaption {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          padding: 65px 10% 15%;
        }
        
        .quotePage figcaption:before {
          font-family: 'FontAwesome';
          content: "\201C";
          position: absolute;
          font-size: 170px;
          opacity: 0.35;
          font-style: normal;
          -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
          top: 0px;
          left: 50%;
        }
        
        .quotePage blockquote {
          padding: 0;
          margin: 0;
          font-style: italic;
          font-size: 1.2em;
        }
        
        .quotePage h3 {
          font-family: 'Oswald';
          text-transform: uppercase;
          font-size: 20px;
          font-weight: 400;
          line-height: 8px;
          margin: 3px 0;
        }
        
        .quotePage h5 {
          font-weight: 400;
          margin: 0;
          text-transform: uppercase;
          color: #bbb;
          letter-spacing: 1px;
        }
    }        